/* GNOME Overrides */

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("Inter.var.woff2?v=3.19") format("woff2");
}


body {
  font-family: Inter, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Inter, sans-serif;
  font-weight: 600;
}

a.icon-home, a.icon-home:hover {
  display: inline-block;
  padding: 2px 2px 2px 20px;
  background: transparent url(img/flatpak.png) center left no-repeat;
}
.fa-home::before, .icon-home::before {
  content: "";
}

.wy-side-nav-search {
  background-color: #4a90d9;
}

a, a:visited { color: #4a90d9; }
  .wy-menu a { color: #919191; }
  .wy-side-nav-search a { color: #fff; }

/* Hide the original title in the docbook-generated man pages (flatpak-docs.html) */
.titlepage .title {
  display: none;
}
